/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: Helvetica, Arial, sans-serif;
    color: #434343;
}

.header {
    margin: 10px auto 0px auto;
    padding: 10px 10px 10px 10px;
    height: 65px;
    width: 940px;
    background: rgba(238, 238, 238, .5);
    border-radius: 10px;

    .logo {
        margin: 0px 0px 0px 0px;
        padding: 15px 15px 15px 0px;
        width: 170px;
        position: relative;
        float: left;
        font-size: 1.5em;
        
    }

    .right {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        width: 300px;
        position: relative;
        float: right;
        font-size: .8em;
        text-align: right;
    }
}

h2 {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 1.4em;
}

h3 {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 1.2em;
}

ul.nav-tabs {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    list-style: none;

    a, a:visited {
        color: #fff;
        font-size: .9em;
        text-decoration: none;

        li {
            margin: 0px 0px 0px 0px;
            padding: 5px 10px 5px 10px;
            list-style: none;
            position: relative;
            float: left;
            background: #728FB8;
            border-radius: 5px;
        }

        li:hover {
            background: #ABBCD4;
            cursor: pointer;
        }
    }

    .selected {
        background: #ABBCD4;
    }

    a:not(:last-of-type) > li {
        margin-right: 10px;
    }
}

.navigation {
    margin: 10px auto 0px auto;
    padding: 10px 10px 10px 10px;
    width: 940px;
    background: rgba(238, 238, 238, .5);
    border-radius: 10px;
    overflow: hidden;
}

.action-button {
    margin: 0px 0px 0px 0px;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 5px;
}

.disabled {
    background: #dddddd;
    color: #605f5f;
}

.green {
    background: rgba(11, 120, 33, 1);
    color: #fff;
}

.green:hover {
    background: rgba(11, 120, 33, .7);
    cursor: pointer;
}

.orange {
    background: rgba(224, 119, 27, 1);
    color: #fff;
}

.orange:hover {
    background: rgba(224, 119, 27, .7);
    cursor: pointer;
}

.red {
    background: rgba(227, 7, 7, 1);
    color: #fff;

}

.red:hover {
    background: rgba(227, 7, 7, .7);
    cursor: pointer;
}

.modal-overlay {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 99;
    display: none;
}

.modal {
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    background: #fff;
    width: 400px;
    position: absolute;
    z-index: 100;
    top: 30%;
    border-radius: 10px;
    border: 5px solid #434343;
    display: none;

    .drop-delay {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;

        input[type="number"] {
            margin: 0px 0px 0px 0px;
            padding: 0px 0px 0px 0px;
            broder: 1px solid #ccccc;
        }

    }
}

.div-row {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    width: 100%;

    .field-name {
        margin: 0px 10px 0px 0px;
        padding: 0px 0px 0px 0px;
        position: relative;
        float: left;
        font-size: .9em;
    }

    .field-element {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        position: relative;
        float: left;
        font-size: .9em;
    }
}

.tab-content {
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    width: 940px;
    background: rgba(238, 238, 238, .5);
    border-radius: 10px;
    overflow: hidden;
    display: none;

    .machine, .log-console {
        margin: 0px 0px 0px 0px;
        padding: 10px 10px 10px 10px;
        border: 1px solid #cccccc;
        border-radius: 10px;

        .user-info {
            margin: 0px 0px 10px 0px;
            padding: 0px 0px 0px 0px;
            font-size: 1.1em;
        }

        .edit-credits {
            margin: 0px 0px 0px 0px;
            padding: 0px 0px 0px 0px;

        }
    }

    .log-console {
        height: 400px;
        overflow-y: scroll;

        .line {
            margin: 0px 0px 0px 0px;
            padding: 3px 0px 3px 0px;
            width: 100%;
            position: relative;
        }
    }

    .machine:not(:last-of-type){
        margin-bottom: 10px;
    }

    table.machine-table {
        margin: 0px 0px 20px 0px;
        padding: 0px 0px 0px 0px;
        border: none;
        border-collapse: collapse;

        th, td {
            margin: 0px 0px 0px 0px;
            padding: 5px 5px 5px 5px;
        }

        th {
            background: #728FB8;
            color: #fff;
            font-size: .8em;
            text-align: center;
        }

        td {
            font-size: .8em;
        }

        div.slot, div.item {
            padding: 2px 2px 2px 2px;

        }

        div.slot[contenteditable="true"] {
            border: 1px solid #cccccc;

        }

        div.item[contenteditable="true"] {
            border: 1px solid #cccccc;
        }


    }
}

.container {
    margin: 10px auto 0px auto;
    paddiong: 0px 0px 0px 0px;
    width: 960px;


}
