/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-family: Helvetica, Arial, sans-serif;
  color: #434343;
}

/* line 15, ../sass/screen.scss */
.header {
  margin: 10px auto 0px auto;
  padding: 10px 10px 10px 10px;
  height: 65px;
  width: 940px;
  background: rgba(238, 238, 238, 0.5);
  border-radius: 10px;
}
/* line 23, ../sass/screen.scss */
.header .logo {
  margin: 0px 0px 0px 0px;
  padding: 15px 15px 15px 0px;
  width: 170px;
  position: relative;
  float: left;
  font-size: 1.5em;
}
/* line 33, ../sass/screen.scss */
.header .right {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 300px;
  position: relative;
  float: right;
  font-size: .8em;
  text-align: right;
}

/* line 44, ../sass/screen.scss */
h2 {
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 1.4em;
}

/* line 50, ../sass/screen.scss */
h3 {
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 1.2em;
}

/* line 56, ../sass/screen.scss */
ul.nav-tabs {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  list-style: none;
}
/* line 61, ../sass/screen.scss */
ul.nav-tabs a, ul.nav-tabs a:visited {
  color: #fff;
  font-size: .9em;
  text-decoration: none;
}
/* line 66, ../sass/screen.scss */
ul.nav-tabs a li, ul.nav-tabs a:visited li {
  margin: 0px 0px 0px 0px;
  padding: 5px 10px 5px 10px;
  list-style: none;
  position: relative;
  float: left;
  background: #728FB8;
  border-radius: 5px;
}
/* line 76, ../sass/screen.scss */
ul.nav-tabs a li:hover, ul.nav-tabs a:visited li:hover {
  background: #ABBCD4;
  cursor: pointer;
}
/* line 82, ../sass/screen.scss */
ul.nav-tabs .selected {
  background: #ABBCD4;
}
/* line 86, ../sass/screen.scss */
ul.nav-tabs a:not(:last-of-type) > li {
  margin-right: 10px;
}

/* line 91, ../sass/screen.scss */
.navigation {
  margin: 10px auto 0px auto;
  padding: 10px 10px 10px 10px;
  width: 940px;
  background: rgba(238, 238, 238, 0.5);
  border-radius: 10px;
  overflow: hidden;
}

/* line 100, ../sass/screen.scss */
.action-button {
  margin: 0px 0px 0px 0px;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 5px;
}

/* line 107, ../sass/screen.scss */
.disabled {
  background: #dddddd;
  color: #605f5f;
}

/* line 112, ../sass/screen.scss */
.green {
  background: #0b7821;
  color: #fff;
}

/* line 117, ../sass/screen.scss */
.green:hover {
  background: rgba(11, 120, 33, 0.7);
  cursor: pointer;
}

/* line 122, ../sass/screen.scss */
.orange {
  background: #e0771b;
  color: #fff;
}

/* line 127, ../sass/screen.scss */
.orange:hover {
  background: rgba(224, 119, 27, 0.7);
  cursor: pointer;
}

/* line 132, ../sass/screen.scss */
.red {
  background: #e30707;
  color: #fff;
}

/* line 138, ../sass/screen.scss */
.red:hover {
  background: rgba(227, 7, 7, 0.7);
  cursor: pointer;
}

/* line 143, ../sass/screen.scss */
.modal-overlay {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99;
  display: none;
}

/* line 154, ../sass/screen.scss */
.modal {
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  background: #fff;
  width: 400px;
  position: absolute;
  z-index: 100;
  top: 30%;
  border-radius: 10px;
  border: 5px solid #434343;
  display: none;
}
/* line 166, ../sass/screen.scss */
.modal .drop-delay {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
/* line 170, ../sass/screen.scss */
.modal .drop-delay input[type="number"] {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  broder: 1px solid #ccccc;
}

/* line 179, ../sass/screen.scss */
.div-row {
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
  overflow: hidden;
  width: 100%;
}
/* line 185, ../sass/screen.scss */
.div-row .field-name {
  margin: 0px 10px 0px 0px;
  padding: 0px 0px 0px 0px;
  position: relative;
  float: left;
  font-size: .9em;
}
/* line 193, ../sass/screen.scss */
.div-row .field-element {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  position: relative;
  float: left;
  font-size: .9em;
}

/* line 202, ../sass/screen.scss */
.tab-content {
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  width: 940px;
  background: rgba(238, 238, 238, 0.5);
  border-radius: 10px;
  overflow: hidden;
  display: none;
}
/* line 211, ../sass/screen.scss */
.tab-content .machine, .tab-content .log-console {
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border: 1px solid #cccccc;
  border-radius: 10px;
}
/* line 217, ../sass/screen.scss */
.tab-content .machine .user-info, .tab-content .log-console .user-info {
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 1.1em;
}
/* line 223, ../sass/screen.scss */
.tab-content .machine .edit-credits, .tab-content .log-console .edit-credits {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
/* line 230, ../sass/screen.scss */
.tab-content .log-console {
  height: 400px;
  overflow-y: scroll;
}
/* line 234, ../sass/screen.scss */
.tab-content .log-console .line {
  margin: 0px 0px 0px 0px;
  padding: 3px 0px 3px 0px;
  width: 100%;
  position: relative;
}
/* line 242, ../sass/screen.scss */
.tab-content .machine:not(:last-of-type) {
  margin-bottom: 10px;
}
/* line 246, ../sass/screen.scss */
.tab-content table.machine-table {
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
  border: none;
  border-collapse: collapse;
}
/* line 252, ../sass/screen.scss */
.tab-content table.machine-table th, .tab-content table.machine-table td {
  margin: 0px 0px 0px 0px;
  padding: 5px 5px 5px 5px;
}
/* line 257, ../sass/screen.scss */
.tab-content table.machine-table th {
  background: #728FB8;
  color: #fff;
  font-size: .8em;
  text-align: center;
}
/* line 264, ../sass/screen.scss */
.tab-content table.machine-table td {
  font-size: .8em;
}
/* line 268, ../sass/screen.scss */
.tab-content table.machine-table div.slot, .tab-content table.machine-table div.item {
  padding: 2px 2px 2px 2px;
}
/* line 273, ../sass/screen.scss */
.tab-content table.machine-table div.slot[contenteditable="true"] {
  border: 1px solid #cccccc;
}
/* line 278, ../sass/screen.scss */
.tab-content table.machine-table div.item[contenteditable="true"] {
  border: 1px solid #cccccc;
}

/* line 286, ../sass/screen.scss */
.container {
  margin: 10px auto 0px auto;
  paddiong: 0px 0px 0px 0px;
  width: 960px;
}
